<div
  class="tech-icon-canvas"
  (pointerdown)="onPointerDown($event)"
  (pointermove)="onPointerMove($event)"
  (pointerup)="onPointerUp()"
  (pointerleave)="onPointerUp()"
>
  <ngt-canvas [camera]="{ position: [0, 0, 5], fov: 75 }" [shadows]="!isMobile">
    <ng-template canvasContent>
      <ngt-ambient-light [intensity]="isMobile ? 1.2 : 0.5" />
      <ngt-directional-light [position]="[5, 5, 5]" [intensity]="isMobile ? 1.0 : 1.5" />
      @if (!isMobile) {
        <ngt-spot-light [position]="[10, 15, 10]" [angle]="0.3" [penumbra]="1" [intensity]="2" />
      }

      @if (hasModel() && scene()) {
        <ngt-group [scale]="scale()" [rotation]="rotation()">
          <ngt-primitive *args="[scene()!]" />
        </ngt-group>
      }

      @if (hasSvg() && svgGroup()) {
        <ngt-group [rotation]="rotation()">
          <ngt-primitive *args="[svgGroup()!]" />
        </ngt-group>
      }

      @if (hasImg() && texture()) {
        <ngt-mesh [rotation]="rotation()">
          <ngt-plane-geometry *args="[3.5, 3.5]" />
          <ngt-mesh-basic-material [map]="texture()!" [transparent]="true" [side]="DoubleSide" />
        </ngt-mesh>
      }
    </ng-template>
  </ngt-canvas>
</div>
