@use "assets/styles/variables" as *;
@use "assets/styles/mixins" as *;

.footer {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  color: $color-white-50;
  padding: 0 $section-padding-x;
  @include flex-center;

  p {
    text-align: center;
  }
}

.footer-terms,
.footer-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-copy {
  text-align: center;

  @media (min-width: 768px) {
    text-align: end;
  }
}

.footer-version {
  font-size: 0.75rem;
  opacity: 0.5;
}
